html,
body,
main,
.container,
.wrapper,
#map {
    height: 100%;
}

#message-box {
    position: absolute;
    max-width: 240px;
    right: 10px;
    top: 10px;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #333;
}

header {
    position: relative;
    /*top: 0;
  left: 0;*/
    z-index: 999;
    width: 100%;
    height: 50px;
    background: #ee6e73;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
}

header h1 {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    font-size: 18px;
    float: left;
}

.wrapper {
    /*margin-top: 50px;*/
    padding: 15px 30px;
    transition: all 0.3s ease-out;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


/* Small devices (tablets)
==========================*/

@media (min-width: 768px) {}


/* Medium devices (desktops)
==========================*/

@media (min-width: 992px) {
    body {
        overflow-y: scroll;
    }
    .logo img {
        width: 200px;
        text-align: center;
        margin-top: 10px;
        float: none;
    }
    .wrapper {
        margin-left: 200px;
    }
    .wrapper__minify {
        margin-left: 50px;
    }
}

ul.menu {
    margin-top: 45px;
}

nav {
    z-index: 4;
}

.search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.form-input {
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: 45px;
    width: 100%;
    padding: 0 45px 0 15px;
    border: 0;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    transition: all 0.3s;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}